{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block submenu %}
<div class="menu">
	<span>My Account</span>
</div>
<ul class="sub">
	<li><a href="/accounts/profile/">Edit Profile</a></li>
	<li><a href="/accounts/changepassword/">Change Password</a></li>
</ul>
{% endblock %}

{% block content %}
<form method="post" action="/accounts/changepassword/">
<fieldset class="forminput">
<div class="title">Change Password</div>

{% if form.old_password.errors %}
<ul class="errorlist"><li>{{ form.old_password.errors|join:"</li><li>" }}</li></ul>
{% endif %}

<div>
	<label for="old_password">Old Password:</label>
	{{ form.old_password }}
</div>

{% if form.new_password1.errors %}
<ul class="errorlist"><li>{{ form.new_password1.errors|join:"</li><li>" }}</li></ul>
{% endif %}


<div>
	<label for="new_password1">New Password:</label>
	{{ form.new_password1 }}
</div>

{% if form.new_password2.errors %}
<ul class="errorlist"><li>{{ form.new_password2.errors|join:"</li><li>" }}</li></ul>
{% endif %}


<div>
	<label for="new_password2">Confirm Password:</label>
	{{ form.new_password2 }}
</div>

<div>
	<input type="submit" value="Change Password" />
</div>
</fieldset>
</form>


{% endblock %}
