<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Hydra  :: {% block title %} Here{% endblock %}</title>
	<link href="/css/base.css" rel="stylesheet" type="text/css" />
<!-- 	<script type="text/javascript" charset="utf-8" src="http://hydra.scrappyhosting.com/js/scriptaculous/lib/prototype.js"></script> -->
<!-- 	<script type="text/javascript" charset="utf-8" src="http://hydra.scrappyhosting.com/includes/jscript/scriptaculous/src/scriptaculous.js"></script> -->
<!-- 	<script type="text/javascript" charset="utf-8" src="http://hydra.scrappyhosting.com/includes/jscript/scriptaculous/src/effects.js"></script> -->

</head>

<body>

	<div id="container">
		<div id="header">
		  <h1>:: Hydra :: </h1>
  		</div>
		{% if user.is_authenticated %}
		<div id="header-menu">
			<ul class="vlist tcenter">
			  <li><a href="/projects/list">Projects</a></li>
			  <li><a href="/tickets/list/mine/">My Tickets</a></li>
			  <li><a href="/tickets/list/open/">Open Tickets</a></li>
			  <li><a href="/tickets/list/closed/">Closed Tickets</a></li>
			</ul>
		</div>
		{% endif %}
		<div id="content-wrap">
			<div id="content">
			{% block content %}{% endblock %}
			</div>
		</div>
		<div class="clear"></div>

	</div>
	<div id="footer-wrap">
		<div id="footer">
			<ul class="vlist">
				<li>(C) ModernNinja.com Copyright 2008-2009</li>
			</ul>
		</div>
	</div>

</body>
</html>

